.desktop-hero-description--wrapper {
  background-color: #f2984a9c;
  width: 32rem;
  height: 12rem;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.desktop-hero-description--text {
  font-size: 2rem;
}

@media only screen and (max-width: 1250px) {
  .desktop-hero-description--wrapper {
    width: 25rem;
    height: 14rem;
  }
}

@media only screen and (max-width: 750px) {
  .desktop-hero-description--wrapper {
    display: none;
  }
}
