.desktop-hero-description--wrapper {
  background-color: #f2984a9c;
  width: 32rem;
  height: 12rem;
  padding: 1rem 2rem;
  border: 2px solid black;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 10rem;
  right: 4rem;
}
.desktop-hero-description--text {
  font-size: 2rem;
}
