.form-wrapper {
  display: flex;
  flex-direction: column;
}

.form-label {
  margin-top: 2rem;
  font-size: 2.4rem;
}

.form-input-name,
.form-input-email,
.form-input-message {
  width: 25rem;
  height: 3rem;
  font-size: 2rem;
}

.form-input-name {
}

.form-input-email {
}

.form-input-message {
  height: 20rem;
  font-size: 1.6rem;
}

.form-input-submit {
  margin-top: 2rem;
  background-color: #f2994a;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
}

.form-input-submit:hover {
  transform: translateY(-0.5rem);
  -webkit-transform: translateY(-0.5rem);
  -moz-transform: translateY(-0.5rem);
  -ms-transform: translateY(-0.5rem);
  -o-transform: translateY(-0.5rem);
  box-shadow: 4px 4px rgba(0, 0, 0, 0.5);
}

.form-input-submit:active {
  transform: translateY(0.5rem);
  -webkit-transform: translateY(0.5rem);
  -moz-transform: translateY(0.5rem);
  -ms-transform: translateY(0.5rem);
  -o-transform: translateY(0.5rem);
  box-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.form-input-message--sent,
.form-input-message--error {
  font-size: 1.4rem;
  margin-top: 1rem;
  text-align: center;
}

.form-input-message--sent {
  color: rgb(16, 194, 16);
}

.form-input-message--error {
  color: red;
}
