* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Ruluko", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  overflow-x: hidden;
  background-color: #333333;
}

html {
  font-size: 62.5%;
  background-color: #333333;
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 50%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* 
    font-family: 'Ruluko', sans-serif;  --- Normal Text

    font-family: 'Salsa', cursive;  --- Headings
*/
